<!DOCTYPE html>
<html>
  <head>
      <title>Drawing Board</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.sound.min.js"></script>
    <script src="test.js"></script>
      <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
      
    <link rel="stylesheet" type="text/css" href="test.css">
  <style> body {padding: 0; margin: 0;} </style>
  </head>
  <body onresize="fit()" scroll="no">
        <div id="toolbar">
          <button onclick="stroke_selector()">
            pencil
          </button>
          
          <button onclick="line_selector()">
            line
          </button>
            
          <button onclick="circle_selector()">
            circle
          </button>

          <button onclick="eraser_selector()">
            eraser
          </button>

          <button onclick="undoer(); undoSend();">
            undo
          </button>      
      
          <button onclick="redoer(); redoSend();">
            redo
          </button> 

          <button onclick="clearPage();">
            clear
          </button>


      </div>
      
      <div id="canvas-holder"></div>
      
  </body>
</html>